/* ------------------------------------------ universal css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

/* ------------------------------------------------ common styles */
.container {
    width: 1140px;
    max-width: 1140px;
    margin: 0 auto;
}

.btn-primary {
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    background-color: #fd6e0a;
    color: white;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.btn-secondary {
    border: 1px solid #fd6e0a;
    padding: 18px 35px;
    border-radius: 5px;
    background-color: transparent;
    color: #fd6e0a;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.input-field {
    width: 100%;
    max-width: 460px;
    padding: 18px 30px 18px;
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: white;
}

.text-field {
    width: 100%;
    max-width: 460px;
    height: 100%;
    padding: 18px 30px 0px;
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: white;
}

/* ------------------------------------------------- header start */
/* --------------------------------------------------- main start */
/* ------------------------------------------------- footer start */
